:root[data-theme-mode="light"] {

	/* 主色（紫色） */
	--b3-theme-primaryrgb:86,41,202;
	--b3-theme-primary:         rgba(var(--b3-theme-primaryrgb));
	--b3-theme-primary-light:   rgba(var(--b3-theme-primaryrgb), 0.54);
	--b3-theme-primary-lighter: rgba(var(--b3-theme-primaryrgb), 0.38);
	--b3-theme-primary-lightest:rgba(var(--b3-theme-primaryrgb), 0.12);

	/*「配色」background-color（由浅到深）*/
	--pc-background-color-1:#dbdef7;
	--pc-background-color-2:#d1d6f5;
	--pc-background-color-3:#c8cdf3;
	--pc-background-color-4:#b5bcef;
	
	/*「配色」surface-color（由深到浅）*/
	--b3-protyle-mainfont:29,39,79;/*编辑器字体颜色*/
	--pc-surface-color-1:rgb(var(--b3-protyle-mainfont));
	--pc-surface-color-2:#1d274fb2;
	--pc-surface-color-3:#1d274f8c;
	--pc-surface-color-4:#1d274f66;
	
}

