:root[data-theme-mode="light"] {
	/*单色：办公蓝*/
	
	/****  寡淡I  ****/
		/*1、背景色（由浅到深）*/
	--pc-background-color-gd-1:rgba(234, 241, 246);
	--pc-background-color-gd-2:rgba(212, 223, 235);
	--pc-background-color-gd-3:rgba(189,205,223);
	--pc-background-color-gd-4:rgba(156,180,212);
		/*2、 主色 */
	--b3-theme-primaryrgb-gd:69, 88, 153;
		/*3、表面色（surface-color）*/
	--b3-protyle-mainfont-gd:22, 32, 57;
		
	
	/****  默认  ****/
		/*1、背景色（由浅到深）*/
	--pc-background-color-1:rgba(232, 242, 250);
	--pc-background-color-2:rgba(210, 226, 244);
	--pc-background-color-3:rgba(187, 210, 238);
	--pc-background-color-4:rgba(148, 184, 232);
		/*2、 主色 */
	--b3-theme-primaryrgb:51,79,177;
		/*3、表面色（surface-color）*/
	--b3-protyle-mainfont:13,28,66;	/*编辑器字体颜色*/
	
	
	/****  鲜艳II  ****/
		/*1、背景色（由浅到深）*/
	--pc-background-color-xy-1:rgba(230, 244, 255);
	--pc-background-color-xy-2:rgba(207, 230, 255);
	--pc-background-color-xy-3:rgba(184, 216, 255);
	--pc-background-color-xy-4:rgba(138, 188, 255);
		/*2、 主色 */
	--b3-theme-primaryrgb-xy:29,69,204;
		/*3、表面色（surface-color）*/
	--b3-protyle-mainfont-xy:2, 23, 76;
}

