:root[data-theme-mode="light"] {

	/*「配色」background-color（由浅到深）*/
	--pc-background-color-1:#f8f1e3;
	--pc-background-color-2:#f2ebdd;
	--pc-background-color-3:#e6dfd1;
	--pc-background-color-4:#E0D8C7;
	

	/*「配色」surface-color（由深到浅）*/
	--b3-protyle-mainfont:79, 50, 28.85;/*编辑器字体颜色*/
	--pc-surface-color-1:rgb(var(--b3-protyle-mainfont));
	--pc-surface-color-2:#4F321Cb2;
	--pc-surface-color-3:#4F321C8c;
	--pc-surface-color-4:#4F321C66;
	
	/*「配色」color-六配色*/
	--pc-color-1:235, 80, 66;
	--pc-color-2:222, 151, 9;
	--pc-color-3:76, 168, 99;
	--pc-color-4:94, 172, 235;
	--pc-color-5:107, 125, 230;
	--pc-color-6:142, 88, 204;

	
	
	/* 「自定义」高亮色mark */
    --pc-mark-background: 254, 240, 133;

	
	/* 代码 code*/
    --b3-protyle-code-background:rgba(244, 184, 228,0.3);/*行级代码背景颜色*/
	--inline-code-color:#8839EF;/*行级代码字体颜色*/
	


	/*「自定义」tag标签*/
	--tag-color:#5899D1;
	--tag-background-color:rgba(113, 175, 229,0.2);
	
	
	/*「自定义」行内下划线*/
	--block-ref-bottomline:103, 124, 245;/*双向链接：蓝色下划线*/
	--b3-protyle-inline-link-hover-color: var(--b3-theme-primary);/*外部链接：绿色下划线*/
	--block-pdf-bottomline:147, 94, 204;/*PDF双向链接：紫色下划线*/
	


	/*「自定义」特殊引述块 */
		/* 引述块 */
    --quote-border-color:rgba(129, 200, 190);/* 左边框颜色rgba(129, 200, 190)取primary1-2中值*/
		/* 代码块 */
	--code-border-color:rgba(194, 143, 185);/*左边框颜色*/
		/*嵌入块*/
	--BlockEmbed-border-color:rgba(103, 124, 245,0.7);/*左边框颜色*/

}

