:root[data-theme-mode="light"] {
	
	    /* 单色：湖漪青 */
	
		/****  寡淡I  ****/
		/*1、背景色（由浅到深）*/
	--pc-background-color-gd-1:rgba(237,244,243);
	--pc-background-color-gd-2:rgba(216,228,228);
	--pc-background-color-gd-3:rgba(194,213,214);
	--pc-background-color-gd-4:rgba(164,193,196);
		/*2、 主色 */
	--b3-theme-primaryrgb-gd:37,133,148;
		/*3、表面色（surface-color）*/
	--b3-protyle-mainfont-gd:35,57,59;
		
	
	/****  默认  ****/
		/*1、背景色（由浅到深）*/
	--pc-background-color-1:rgba(236,247,246);
	--pc-background-color-2:rgba(215,234,235);
	--pc-background-color-3:rgba(195,222,224);
	--pc-background-color-4:rgba(160,204,207);
		/*2、 主色 */
	--b3-theme-primaryrgb:37,133,148;
		/*3、表面色（surface-color）*/
	--b3-protyle-mainfont:32,66,68;	/*编辑器字体颜色*/
	
	
	/****  鲜艳II  ****/
		/*1、背景色（由浅到深）*/
	--pc-background-color-xy-1:rgba(235, 250, 249);
	--pc-background-color-xy-2:rgba(215, 241, 242);
	--pc-background-color-xy-3:rgba(195, 233, 235);
	--pc-background-color-xy-4:rgba(155, 216, 221);
		/*2、 主色 */
	--b3-theme-primaryrgb-xy:37,133,148;
		/*3、表面色（surface-color）*/
	--b3-protyle-mainfont-xy:29,76,79;
	
}

