:root[data-theme-mode="light"] {
	
	/* 主色（原木黄） */
	--b3-theme-primaryrgb:200,133,9;
	--b3-theme-primary:         rgba(var(--b3-theme-primaryrgb));
	--b3-theme-primary-light:   rgba(var(--b3-theme-primaryrgb), 0.54);
	--b3-theme-primary-lighter: rgba(var(--b3-theme-primaryrgb), 0.38);
	--b3-theme-primary-lightest:rgba(var(--b3-theme-primaryrgb), 0.12);
	
	/*「配色」background-color（由浅到深）*/
	--pc-background-color-1:#fcf0da;
	--pc-background-color-2:#fbebcd;
	--pc-background-color-3:#fae6c1;
	--pc-background-color-4:#f8dca7;
	
	/*「配色」surface-color（由深到浅）*/
	--b3-protyle-mainfont:71,53,20;/*编辑器字体颜色*/
	--pc-surface-color-1:rgb(var(--b3-protyle-mainfont));
	--pc-surface-color-2:#473514b2;
	--pc-surface-color-3:#4735148c;
	--pc-surface-color-4:#47351466;
	
}

