:root[data-theme-mode="light"] {
	    /* 单色：生机·绿 */
	
		/****  寡淡I  ****/
		/*1、背景色（由浅到深）*/
	--pc-background-color-gd-1:rgba(242,246,238);
	--pc-background-color-gd-2:rgba(222,231,215);
	--pc-background-color-gd-3:rgba(202,217,192);
	--pc-background-color-gd-4:rgba(172,199,158);
		/*2、 主色 */
	--b3-theme-primaryrgb-gd:82,131,61;
		/*3、表面色（surface-color）*/
	--b3-protyle-mainfont-gd:26,44,21;
		
	
	/****  默认  ****/
		/*1、背景色（由浅到深）*/
	--pc-background-color-1:rgba(244,250,237);
	--pc-background-color-2:rgba(225,239,215);
	--pc-background-color-3:rgba(206,229,191);
	--pc-background-color-4:rgba(173,213,151);
		/*2、 主色 */
	--b3-theme-primaryrgb:70,143,39;
		/*3、表面色（surface-color）*/
	--b3-protyle-mainfont:18,46,11;	/*编辑器字体颜色*/
	
	
	/****  鲜艳II  ****/
		/*1、背景色（由浅到深）*/
	--pc-background-color-xy-1:rgba(246, 255, 237);
	--pc-background-color-xy-2:rgba(228, 248, 214);
	--pc-background-color-xy-3:rgba(210, 242, 190);
	--pc-background-color-xy-4:rgba(173, 229, 143);
		/*2、 主色 */
	--b3-theme-primaryrgb-xy:56, 158, 13;
		/*3、表面色（surface-color）*/
	--b3-protyle-mainfont-xy:10, 48, 0;
	
	
}