:root[data-theme-mode="light"] {

	/* 主色（桃粉色） */
	--b3-theme-primaryrgb:227,32,68;
	--b3-theme-primary:         rgba(var(--b3-theme-primaryrgb));
	--b3-theme-primary-light:   rgba(var(--b3-theme-primaryrgb), 0.54);
	--b3-theme-primary-lighter: rgba(var(--b3-theme-primaryrgb), 0.38);
	--b3-theme-primary-lightest:rgba(var(--b3-theme-primaryrgb), 0.12);

	/*「配色」background-color（由浅到深）*/
	--pc-background-color-1:#ffe2e9;
	--pc-background-color-2:#ffd9e1;
	--pc-background-color-3:#ffd0da;
	--pc-background-color-4:#ffbecb;
	
	/*「配色」surface-color（由深到浅）*/
	--b3-protyle-mainfont:40, 18, 23;/*编辑器字体颜色*/
	--pc-surface-color-1:rgb(var(--b3-protyle-mainfont));
	--pc-surface-color-2:#281217b2;
	--pc-surface-color-3:#2812178c;
	--pc-surface-color-4:#28121766;
	
}

